<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p><a href="/">Nyitóoldal</a></p>
    <label for="valogat">Válogatás:</label>
    <input type="number" name="valogat" id="valogat">
    <button onclick="levalogat()">Lekér</button>
    <div id="talalat"></div>
    <script>
        function levalogat() {
            let valogat = document.getElementById('valogat').value;
            fetch('http://localhost:3001/arval', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ valogat })
            }).then(response => {
                return response.json();
            })
                .then(data => {
                    const konyvek = data.valogatott;
                    const talalat = document.getElementById('talalat');
                    talalat.innerHTML = '';
                    for (let i = 0; i < konyvek.length; i++) {
                        const szerzo = document.createElement('h1');
                        szerzo.innerText = konyvek[i].szerzo;
                        talalat.appendChild(szerzo);
                        const cim = document.createElement('p');
                        cim.innerText = konyvek[i].cim;
                        talalat.appendChild(cim);
                        const ar = document.createElement('p');
                        ar.innerText = konyvek[i].ar + " Ft";
                        talalat.appendChild(ar);
                    }
                })
                .catch(error => console.log(error));
        }
    </script>
</body>

</html>