<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p><a href="/valogat">Cím alapján válogatás oldal</a></p>
    <p><a href="/arval">Ár alapján válogatás oldal</a></p>
    <p><a href="/kombi">Kombináltválogatás oldal</a></p>
    <% for (let i=0; i < books.length; i++) { %>
        <h1>Szerző: <%= books[i].szerzo %>
        </h1>
        <h1>Cím: <%= books[i].cim %>
        </h1>
        <h1>Ár: <%= books[i].ar %>
        </h1>
        <% } %>



</body>

</html>